@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model RailwaySystem.Models.Admin.ShowCurrentRoutesData
	ViewBag.Title = "Show Routes";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<form asp-controller="admin" asp-action="RouteDetails" id="route-details-form" style="display:none">
	<input type="text" name="ID" id="route-value"/>
</form>

<table class="table table-routes mx-3">
	<h1 class="mx-3 mt-5 h1_admin">Routes Data</h1>
	<p class="mx-3"">The following is data shows all the routes whose departure time is pending</p>

    <thead>
        <tr>
            <th scope="col">Route ID</th>
            <th scope="col">Train</th>
            <th scope="col">Departure Date/Time</th>
            <th scope="col">Arrival Date/Time</th>
            <th scope="col">Source Station</th>
            <th scope="col">Destination Station</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
		@foreach (var route in @Model.routes)
		{
			<tr>
				<th scope="row">
					@route.Id
				</th>
				<td>
					@route.Train
				</td>
				<td>
					@route.DepartureTime
				</td>
				<td>
					@route.ArrivalTime
				</td>
				<td>
					@route.SourceStation
				</td>
				<td>
					@route.DestinationStation
				</td>
				<td>
					
					   <button style="width: 50px; height:30px" class="btn-remove-booking" type="submit" onclick="routeDetails(@route.Id)"/>
					
				</td>
			</tr>
		}
	</tbody>

	
</table>

<script>
	function routeDetails(id) {
    document.getElementById("route-value").value = id;
    document.getElementById("route-details-form").submit();
}
	</script>